{
  "ConnectionStrings": {
    "Default": "Server=<YOUR_LOCAL_DEV_SERVER>;Database=<YOUR_LOCAL_DB>;Trusted_Connection=True;"
  },
  "Storage": {
    "BasePath": "C:\\ChartEngineStorage"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning",
      "Microsoft.EntityFrameworkCore": "Warning"
    }
  }
}
